.open-web-box-preview {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .navigatior {
    height: 36px;
    padding: 0 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .operation {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        width: 28px;
        height: 28px;
        font-size: 12px;
        text-align: center;
        border: none;
        border-radius: 14px;
        cursor: pointer;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 100ms linear;

        &:hover {
          background-color: #eee;
        }

        &:active {
          background-color: #ddd;
        }

        &.back {
          background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20class%3D%22icon%22%20width%3D%22200px%22%20height%3D%22200.00px%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M71.327%20528.814967l289.705148%20295.703769c9.380648%209.624195%2024.707728%209.624195%2034.138518%200%209.381671-9.576099%209.381671-25.222451%200-34.848693L146.677129%20536.058952l786.690176%200c13.3214%200%2024.142863-11.048637%2024.142863-24.642237%200-13.597693-10.821463-24.645306-24.142863-24.645306L146.677129%20486.771409l248.494561-253.632581c9.381671-9.603729%209.381671-25.248034%200-34.847669-4.76349-4.836145-10.939143-7.194866-17.116843-7.194866-6.1777%200-12.355399%202.405793-17.116843%207.194866L71.233879%20494.01437c-9.383718%209.602705-9.383718%2025.244964%200%2034.849716L71.327%20528.814967z%22%20%2F%3E%3C%2Fsvg%3E");
        }

        &.forward {
          background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20class%3D%22icon%22%20width%3D%22200px%22%20height%3D%22200.00px%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M950.378747%20494.018463%20660.673599%20198.314695c-9.380648-9.624195-24.707728-9.624195-34.138518%200-9.381671%209.576099-9.381671%2025.222451%200%2034.848693l248.494561%20253.612115L88.338443%20486.775502c-13.3214%200-24.142863%2011.047614-24.142863%2024.641213%200%2013.597693%2010.821463%2024.645306%2024.142863%2024.645306l786.690176%200L626.535081%20789.694603c-9.381671%209.603729-9.381671%2025.248034%200%2034.847669%204.76349%204.836145%2010.939143%207.194866%2017.116843%207.194866%206.1777%200%2012.355399-2.405793%2017.116843-7.194866l289.704125-295.723212c9.383718-9.602705%209.383718-25.244964%200-34.849716L950.378747%20494.018463z%22%20%2F%3E%3C%2Fsvg%3E");
        }

        &.refresh {
          background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20class%3D%22icon%22%20width%3D%22200px%22%20height%3D%22200.00px%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M894.481%20505.727c0%2049.59-9.711%2097.705-28.867%20143.007-18.502%2043.747-44.985%2083.031-78.713%20116.76-33.728%2033.728-73.013%2060.21-116.76%2078.712-45.311%2019.156-93.417%2028.878-143.006%2028.878s-97.695-9.722-142.997-28.878c-43.757-18.501-83.031-44.984-116.77-78.713-33.728-33.728-60.21-73.012-78.712-116.759-19.157-45.302-28.868-93.417-28.868-143.007%200-49.58%209.711-97.695%2028.868-142.997%2018.501-43.746%2044.984-83.03%2078.712-116.759%2033.739-33.728%2073.013-60.211%20116.77-78.713%2045.302-19.166%2093.407-28.877%20142.997-28.877%2052.925%200%20104.009%2011.01%20151.828%2032.745%2046.192%2020.978%2086.909%2050.797%20121.016%2088.609%204.39%204.86%208.647%209.854%2012.78%2014.97V138.443c0-11.307%209.17-20.466%2020.467-20.466%2011.308%200%2020.466%209.159%2020.466%2020.466v183.643a20.445%2020.445%200%200%201-5.986%2014.47%2020.496%2020.496%200%200%201-14.48%205.996l-183.642-0.02c-11.308%200-20.467-9.17-20.467-20.467%200-11.307%209.17-20.466%2020.467-20.466l132.293%200.02a326.45%20326.45%200%200%200-12.29-14.48c-30.32-33.605-66.515-60.098-107.55-78.753-42.467-19.29-87.85-29.072-134.902-29.072-87.196%200-169.173%2033.953-230.817%2095.597-61.654%2061.654-95.598%20143.621-95.598%20230.817s33.944%20169.173%2095.598%20230.817c61.644%2061.654%20143.62%2095.608%20230.817%2095.608s169.173-33.954%20230.817-95.608c61.654-61.644%2095.597-143.62%2095.597-230.817%200-11.297%209.169-20.466%2020.466-20.466%2011.308%200%2020.466%209.169%2020.466%2020.466z%22%20%2F%3E%3C%2Fsvg%3E");
        }
      }
    }

    .address {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;

      input {
        flex: 1;
        padding: 3px 7px;
        font-size: 12px;
        border: 1px solid #f5f5f5;
        background-color: #f5f5f5;
        border-radius: 13px;
        outline: none;

        &:focus {
          border-color: #007bff;
          background-color: #fff;
        }
      }
    }
  }

  .open-web-box-preview-iframe {
    flex: 1;
    outline: none;
    border: none;
    background-color: inherit;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #888;
  }
}
